@charset "UTF-8";
/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

body {
  color: #000000;
  background-color: #fff;
  font-family: "Roboto", sans-serif;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

.link {
  text-decoration: none;
}

a:hover {
  color: #2196F3;
}

section {
  display: block;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196F3;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.header {
  background: #FFFFFF;
}

.logo {
  font-family: "Raleway";
  color: #000000;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  margin-right: 0;
}
@media screen and (min-width: 480px) {
  .logo {
    margin-right: 0;
  }
}
@media screen and (min-width: 768px) {
  .logo {
    margin-right: 88px;
  }
}
@media screen and (min-width: 1200px) {
  .logo {
    margin-right: 93px;
  }
}
.logo__accent {
  color: var(--accent-color);
}

.header-nav__mobile-btn {
  background-color: #FFFFFF;
  border: none;
  padding: 0;
  margin-left: auto;
}
@media screen and (min-width: 480px) {
  .header-nav__mobile-btn {
    display: block;
  }
}
@media screen and (min-width: 768px) {
  .header-nav__mobile-btn {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .header-nav__mobile-btn {
    display: none;
  }
}

.header-nav {
  height: 80px;
  display: flex;
  align-items: center;
}
.header-nav__list {
  gap: 50px;
  display: none;
}
@media screen and (min-width: 480px) {
  .header-nav__list {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .header-nav__list {
    display: flex;
  }
}
@media screen and (min-width: 1200px) {
  .header-nav__list {
    display: flex;
  }
}
.header-nav__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
}
.header-nav__link::after {
  content: "";
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
  opacity: 0;
  position: absolute;
  left: 0;
  top: 44px;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-nav__link.current::after, .header-nav__link:active::after, .header-nav__link:focus::after {
  content: "";
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
  opacity: 1;
  position: absolute;
  left: 0;
  top: 44px;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-nav__link:hover {
  color: var(--accent-color);
}

.contacts {
  display: none;
  margin-left: auto;
}
@media screen and (min-width: 480px) {
  .contacts {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .contacts {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts {
    display: flex;
    flex-direction: row;
    gap: 30px;
  }
}
.contacts__mail {
  display: flex;
  align-items: center;
  color: var(--primary-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts__tel {
  display: flex;
  align-items: center;
  color: var(--primary-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts__mail-icon {
  margin-right: 10px;
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts__mail:hover .contacts__mail-icon, .contacts__mail:focus .contacts__mail-icon, .contacts__tel:hover .contacts__mail-icon, .contacts__tel:focus .contacts__mail-icon {
  fill: var(--accent-color);
}

.hero {
  height: 400px;
  width: 100%;
  background-color: #2F303A;
  padding-top: 118px;
  text-align: center;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Img-hero-1.jpg);
  background-size: cover;
  background-position: center;
  margin: 0 auto;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Img-hero-1.jpg);
  }
}
@media screen and (min-width: 480px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Img-hero-1.jpg);
    padding-top: 118px;
    height: 400px;
    width: 100%;
  }
}
@media screen and (min-width: 480px) and (min-device-pixel-ratio: 2), screen and (min-width: 480px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 480px) and (min-resolution: 192dpi), screen and (min-width: 480px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Img-hero-1.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Img-hero-2.jpg);
    padding-top: 118px;
    height: 400px;
    width: 100%;
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Img-hero-2.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Img-hero.jpg);
    max-width: 1600px;
    padding-top: 200px;
    height: 600px;
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Img-hero.jpg);
  }
}

.hero__title {
  font-weight: 900;
  font-size: 21px;
  line-height: 1.62;
  margin-right: 0;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #FFFFFF;
}
@media screen and (min-width: 480px) {
  .hero__title {
    font-size: 26px;
    line-height: 1.62;
  }
}
@media screen and (min-width: 768px) {
  .hero__title {
    font-size: 26px;
    line-height: 1.62;
  }
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero__button {
  padding: 10px 24px;
  margin-top: 30px;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  font-family: inherit;
  border-radius: 4px;
  border: 1px solid transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 480px) {
  .hero__button {
    padding: 10px 24px;
  }
}
@media screen and (min-width: 768px) {
  .hero__button {
    padding: 10px 24px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__button {
    padding: 10px 32px;
  }
}

.hero__button:hover {
  background-color: #F5F4FA;
  color: var(--accent-color);
}

.advantage {
  padding-bottom: 60px;
  padding-top: 60px;
}
@media screen and (min-width: 480px) {
  .advantage {
    padding-bottom: 60px;
    padding-top: 60px;
  }
}
@media screen and (min-width: 768px) {
  .advantage {
    padding-bottom: 60px;
    padding-top: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .advantage {
    padding-bottom: 94px;
    padding-top: 94px;
  }
}
.advantage__list {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 480px) {
  .advantage__list {
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 768px) {
  .advantage__list {
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .advantage__list {
    display: flex;
  }
}
.advantage__item {
  width: 320px;
}
@media screen and (min-width: 480px) {
  .advantage__item {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .advantage__item {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .advantage__item {
    width: 270px;
  }
}
.advantage__item:last-child {
  margin-right: 0;
}
.advantage__item-thumb {
  background-color: #F5F4FA;
  width: 100%;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
@media screen and (min-width: 480px) {
  .advantage__item-thumb {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .advantage__item-thumb {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .advantage__item-thumb {
    width: 270px;
  }
}
.advantage__title {
  color: var(--title-text-color);
}
.advantage__list-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
  padding-bottom: 10px;
  text-align: center;
}
@media screen and (min-width: 480px) {
  .advantage__list-title {
    text-align: center;
  }
}
@media screen and (min-width: 768px) {
  .advantage__list-title {
    text-align: left;
  }
}
@media screen and (min-width: 1200px) {
  .advantage__list-title {
    text-align: left;
  }
}
.advantage__list-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  width: 100%;
  height: 75px;
  color: var(--primary-text-color);
}
@media screen and (min-width: 480px) {
  .advantage__list-text {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .advantage__list-text {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .advantage__list-text {
    width: 270px;
  }
}

.gallery {
  padding-bottom: 94px;
  margin-left: auto;
  margin-right: auto;
  display: none;
}
@media screen and (min-width: 480px) {
  .gallery {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .gallery {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .gallery {
    display: block;
  }
}
.gallery-title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-bottom: 30px;
}
@media screen and (min-width: 480px) {
  .gallery-title {
    font-size: 28px;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .gallery-title {
    font-size: 33px;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .gallery-title {
    font-size: 36px;
    margin-bottom: 50px;
  }
}
.gallery-list {
  width: 1170px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.gallery-item {
  margin-right: 30px;
}
.gallery-item:last-child {
  margin-right: 0;
}
.gallery-item-wrap {
  position: relative;
}
.gallery-item-text {
  width: 100%;
  height: 70px;
  padding: 27px 82px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.team {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #F5F4FA;
}
@media screen and (min-width: 480px) {
  .team {
    padding-bottom: 60px;
    padding-top: 60px;
  }
}
@media screen and (min-width: 768px) {
  .team {
    padding-bottom: 60px;
    padding-top: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .team {
    padding-bottom: 94px;
    padding-top: 94px;
  }
}
.team-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.team-title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-bottom: 30px;
}
@media screen and (min-width: 480px) {
  .team-title {
    font-size: 28px;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .team-title {
    font-size: 33px;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .team-title {
    font-size: 36px;
    margin-bottom: 50px;
  }
}
.team-list-item {
  width: 320px;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
@media screen and (min-width: 480px) {
  .team-list-item {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .team-list-item {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .team-list-item {
    width: 270px;
  }
}
.team-list-item:last-child {
  margin-right: 0;
}
.team-list-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
  color: var(--title-text-color);
}
.team-list-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-bottom: 16px;
}
.team-list-card {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #fff;
  border-radius: 0px 0px 4px 4px;
}
.team-soc {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.team-soc-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-icon-svg {
  fill: #AFB1B8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-soc-link:hover, .team-soc-link:focus {
  background-color: var(--accent-color);
}
.team-soc-link:hover .team-icon-svg, .team-soc-link:focus .team-icon-svg {
  fill: #FFFFFF;
}

.clients {
  padding-bottom: 60px;
  padding-top: 60px;
}
@media screen and (min-width: 480px) {
  .clients {
    padding-bottom: 60px;
    padding-top: 60px;
  }
}
@media screen and (min-width: 768px) {
  .clients {
    padding-bottom: 60px;
    padding-top: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .clients {
    padding-bottom: 94px;
    padding-top: 94px;
  }
}
.clients-title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-bottom: 30px;
}
@media screen and (min-width: 480px) {
  .clients-title {
    font-size: 28px;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .clients-title {
    font-size: 33px;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .clients-title {
    font-size: 36px;
    margin-bottom: 50px;
  }
}
.clients-list {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}
.clients-link {
  width: 210px;
  height: 92px;
  border-radius: 4px;
  border: 1px solid #AFB1B8;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 480px) {
  .clients-link {
    width: 210px;
  }
}
@media screen and (min-width: 768px) {
  .clients-link {
    width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .clients-link {
    width: 170px;
  }
}
.clients-link:hover .clients-logo, .clients-link:focus .clients-logo {
  fill: var(--accent-color);
}
.clients-link:hover, .clients-link:focus {
  border: 1px solid var(--accent-color);
}
.clients-logo {
  fill: #AFB1B8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.porto {
  margin-top: 50px;
}

.works-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.works-item {
  width: 100%;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 480px) {
  .works-item {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .works-item {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .works-item {
    width: 370px;
  }
}
.works-item:hover .works-item-text {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  transform: translateY(0%);
}
.works-item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.works-item-description {
  padding: 20px 0;
  border: 1px solid #EEEEEE;
}
.works-item-wrap {
  position: relative;
  overflow: hidden;
}
.works-item-text {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 63px 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.works-item-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
  margin-left: 24px;
  margin-bottom: 4px;
}

.works-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin-left: 24px;
}

.portfolio {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 480px) {
  .portfolio {
    padding-bottom: 60px;
    padding-top: 60px;
  }
}
@media screen and (min-width: 768px) {
  .portfolio {
    padding-bottom: 60px;
    padding-top: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio {
    padding-bottom: 94px;
    padding-top: 94px;
  }
}
.portfolio-list {
  justify-content: left;
  flex-wrap: wrap;
  display: flex;
  gap: 8px;
}
@media screen and (min-width: 480px) {
  .portfolio-list {
    justify-content: left;
  }
}
@media screen and (min-width: 768px) {
  .portfolio-list {
    justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio-list {
    justify-content: center;
  }
}
.portfolio-btn {
  font-family: inherit;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;
  border: 0px;
  margin-right: 8px;
  margin-right: 0px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  border-radius: 4px;
  color: var(--title-text-color);
  background-color: #F5F4FA;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-btn:hover, .portfolio-btn:focus {
  color: #FFFFFF;
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.footer {
  background-color: #2F303A;
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-logo {
  font-family: "Raleway";
  color: #FFFFFF;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .footer-logo {
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 768px) {
  .footer-logo {
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 1200px) {
  .footer-logo {
    margin-right: auto;
  }
}
.footer-logo span {
  color: var(--accent-color);
}
.footer-soc-title, .footer-form-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 20px;
  text-align: center;
}
@media screen and (min-width: 480px) {
  .footer-soc-title, .footer-form-title {
    text-align: center;
  }
}
@media screen and (min-width: 768px) {
  .footer-soc-title, .footer-form-title {
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .footer-soc-title, .footer-form-title {
    text-align: left;
  }
}
.footer-soc {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.footer-soc-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-icon-svg {
  fill: #FFFFFF;
}
.footer-soc-link:hover, .footer-soc-link:focus {
  background-color: var(--accent-color);
}
.footer-contacts {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 60px;
}
@media screen and (min-width: 480px) {
  .footer-contacts {
    gap: 60px;
  }
}
@media screen and (min-width: 768px) {
  .footer-contacts {
    gap: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-contacts {
    gap: 70px;
  }
}
.footer-contacts-left {
  text-align: center;
}
@media screen and (min-width: 480px) {
  .footer-contacts-left {
    text-align: center;
  }
}
@media screen and (min-width: 768px) {
  .footer-contacts-left {
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .footer-contacts-left {
    text-align: left;
  }
}
.footer-soc-block {
  margin-top: 0;
}
@media screen and (min-width: 480px) {
  .footer-soc-block {
    margin-top: 0;
  }
}
@media screen and (min-width: 768px) {
  .footer-soc-block {
    margin-left: 105px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-soc-block {
    margin-top: 0;
    margin-left: 0;
  }
}
.footer-form-block {
  margin-top: 0;
}
@media screen and (min-width: 480px) {
  .footer-form-block {
    margin-top: 0;
  }
}
@media screen and (min-width: 768px) {
  .footer-form-block {
    margin-top: 5px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-form-block {
    margin-top: 5px;
    margin-left: 23px;
  }
}
.footer-form-mail {
  width: 100%;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  padding: 15px 16px;
}
@media screen and (min-width: 480px) {
  .footer-form-mail {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .footer-form-mail {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-form-mail {
    width: 358px;
  }
}
.footer-form-mail::-moz-placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-form-mail:-ms-input-placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-form-mail::placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-form-btn {
  width: 200px;
  height: 50px;
  background-color: var(--accent-color);
  color: #FFFFFF;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  border: none;
  border-radius: 4px;
  letter-spacing: 0.06em;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .footer-form-btn {
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 768px) {
  .footer-form-btn {
    margin-left: auto;
    margin-right: auto;
  }
}
.footer-form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
}
@media screen and (min-width: 480px) {
  .footer-form {
    gap: 20px;
  }
}
@media screen and (min-width: 768px) {
  .footer-form {
    gap: 20px;
    flex-direction: column;
  }
}
@media screen and (min-width: 1200px) {
  .footer-form {
    gap: 12px;
    flex-direction: row;
  }
}

.icon-send {
  width: 24px;
  min-height: 24px;
  background-image: url(../images/icon\ send.svg);
}

.adress {
  margin-top: 20px;
}
.adress-list {
  font-style: normal;
}
.adress-item {
  margin-top: 9px;
}
.adress-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.adress-link.map {
  color: #FFFFFF;
}

.backdrop {
  background: rgba(0, 0, 0, 0.2);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  visibility: 0;
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden.modal {
  transform: translate(-50%, -50%) scale(0);
}

.modal {
  width: 100%;
  height: 609px;
  position: absolute;
  background: #FFFFFF;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: scale 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
    height: 609px;
  }
}
@media screen and (min-width: 768px) {
  .modal {
    width: 450px;
    height: 609px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}

.modal-btn {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  top: 8px;
  right: 8px;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover {
  fill: var(--accent-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-bottom: 12px;
}

.field-form {
  position: relative;
  margin-bottom: 10px;
}

.label-name {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.14;
  margin-bottom: 4px;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
}

.input-class {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 11px 42px;
  outline: none;
}

.input-class:focus {
  border: 1px solid var(--accent-color);
}

.input-class:focus + .icon {
  fill: var(--accent-color);
}

.icon {
  position: absolute;
  left: 12px;
  top: 50%;
}

.input-comment {
  width: 100%;
  height: 120px;
  resize: none;
  padding: 12px 16px;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.input-comment:focus {
  border: 1px solid #2196F3;
}

.input-comment::-moz-placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.input-comment:-ms-input-placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.input-comment::placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.label-checkbox {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: rgba(117, 117, 117, 0.5);
}
@media screen and (min-width: 480px) {
  .label-checkbox {
    font-size: 12px;
    line-height: 1.17;
  }
}
@media screen and (min-width: 768px) {
  .label-checkbox {
    font-size: 12px;
    line-height: 1.17;
  }
}
@media screen and (min-width: 1200px) {
  .label-checkbox {
    font-size: 14px;
    line-height: 1.71;
  }
}

.field-checkbox {
  display: flex;
  align-items: center;
}

.custom-checkbox {
  display: inline-block;
  background-image: url(../images/check.svg);
  width: 16px;
  height: 15px;
  margin-right: 9px;
}

.input-checkbox:checked + .custom-checkbox {
  display: inline-block;
  outline: none;
  background-image: url(../images/icon\ check.svg);
  width: 16px;
  height: 15px;
}

.comment-link {
  font-family: inherit;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-decoration: none;
  border-bottom: 1px solid var(--accent-color);
  color: var(--accent-color);
}
@media screen and (min-width: 480px) {
  .comment-link {
    font-size: 12px;
    line-height: 1.17;
  }
}
@media screen and (min-width: 768px) {
  .comment-link {
    font-size: 12px;
    line-height: 1.17;
  }
}
@media screen and (min-width: 1200px) {
  .comment-link {
    font-size: 14px;
    line-height: 1.71;
  }
}

.form-btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  width: 200px;
  height: 50px;
  background-color: var(--accent-color);
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  cursor: pointer;
}

.nav-mobile {
  position: fixed;
  background-color: #FFFFFF;
  top: 0%;
  right: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  padding: 48px 40px;
  overflow: hidden;
  flex-direction: column;
  justify-content: space-between;
}

.nav-mobile.is-hidden {
  visibility: 0;
  opacity: 0;
  pointer-events: none;
}

.nav-mobile__btn {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 21px;
  right: 21px;
  background: #FFFFFF;
  border: none;
}

.nav-mobile__btn:hover {
  fill: var(--accent-color);
}

.nav-mobile__list {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.nav-mobile__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}

.nav-mobile__connects {
  display: flex;
  flex-direction: column;
  gap: 64px;
}

.nav-modile__contacts {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.nav-modile__tel {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.nav-modile__mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.nav-mobile__soc-list {
  display: flex;
  gap: 10px;
}

.nav-mobile__soc-item {
  display: flex;
  justify-content: center;
}

.nav-mobile__soc-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.nav-mobile__span {
  height: 22px;
  width: 1px;
  background-color: rgba(33, 33, 33, 0.2);
  margin-left: 10px;
}/*# sourceMappingURL=main.css.map */