.advantage {
    padding-bottom: 94px;
    padding-top: 94px;

}


.advantage-item-thumb {
    background-color: #F5F4FA;
    width: 270px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.advantage-title {

    color: var(--title-text-color);
}

.advantage-item {
    width: 270px;
    margin-right: 30px;

}

.advantage-item:last-child {
    margin-right: 0;
}

.advantage-list-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--title-text-color);
    padding-bottom: 10px;
}

.advantage-list-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    width: 270px;
    height: 75px;
    color: var(--primary-text-color);
}